@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif, 'GT America Standard'; 
    font-size: 22px;

}

body{
    background-color: white;
    
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    padding: 5px 8.0%;
}

.header .logo:hover{
    cursor: pointer;
    background-image: url(assets/LogoInicialG.png);
    
}

.header .logo {
    height: 59px;
    width: 240px;
    transition: all 0.3s;
    background-image: url(assets/LogoInicial.png);
    background-repeat: no-repeat;
}



/* Logos de abajo */
.header .logo1{
    cursor: pointer;
}

.header .logo1 img{
    height: 52px;
    width: 30;
    transition: all 0.3s;
}

.header .logo1 img:hover{
    transform: scale(2.3);
}

/* */

.header .nav-links{
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    margin-right: 360px; 
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li.with-underline a:hover {
    text-decoration: underline;
}

.header .btn button{
    font-family:'GT America Standard', sans-serif;
    font-weight: 400;
    font-size: 25px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: white;
    padding: 6px 15px;
    background: #4C5FD5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .botn button {
    font-family: 'GT America Standard', sans-serif;
    font-weight: 400;
    font-size: 25px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: white;
    padding: 6px 15px; /* Ajusta el relleno según sea necesario */
    width: auto; /* Hace que el ancho del botón se ajuste automáticamente al contenido */
    background: #0a0a0a;
    border: 2px solid white;
    border-radius: 8px; /* Ajusta el radio de la esquina según sea necesario */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}




.header .btn button:hover {
    background-color: #1a1a1a; /* Color de fondo al pasar el mouse */
}


.header .btn button:hover{
    background-color: white;
    color: black;
}

.container{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input.search{
    justify-content: center;
    text-align: left;
    padding: 9px 10px 9px 32px;
    outline: none;
    font-size: 35px;
    border: 10px;
    border-radius: 6px;
    color: #444;
    border: 1px solid black;
    background: #fff url("assets/right-arrow-alt-regular-24.png") 
        no-repeat 9px center;
    width: 700px;
    transition: all .5s;
}

.titulo {
    text-align: center;
    font-family: 'GT America Standard', sans-serif;
    color: #000000;
    font-size: 80px;
    line-height: 76px;
    letter-spacing: -4px;
    line-height: 240px;
    font-weight: 400;
    margin: 0 0 1rem;
}
.seccion {
    text-align: center;
    height: 400px;
    position: relative;
    background-color: #DADBF1;
    color: #fff;
    overflow: hidden;
}
.search{
    position: relative;
}
.seccionw {
    text-align: center;
    height: 1000px;
    position: relative;
    background-color: #ffffff;
    color: #fff;
    overflow: hidden;
    display: flex;
    padding: 20px;
    margin: 0;
    padding: 0;
}


.secciones {
    text-align: center;
    background-color: #ffffff;
    color: #333;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.columna {
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-left: 25px;
    display: flex;
    flex-direction: row; /* Cambiado a fila para alinear el logo y el contenido horizontalmente */
    align-items: flex-start; /* Alinear los elementos al comienzo del eje transversal (vertical) */
}

.logo img {
    width: 50%;
    height: auto;
    margin-right: 10px; /* Añadido margen derecho para separar el logo del título */
}

.contenido {
    width: 100%;
}

.contenido h2, .contenido p {
    text-align: left;
}

.contenido h2 {
    font-size: 1.1em;
    color: #000000;
    font-family: inherit;
}

.contenido p {
    margin-top: 0;
    font-size: 1em;
    color: #000000;
    font-family: inherit;
}

.contenido p1 {
    margin-top: 0;
    font-size: 0.9em;
    color: rgb(41, 100, 209);
    text-align:justify;
    font-family: inherit;
}

.columna, .contenido {
    padding: 0 5px;
}

hr {
    border: 1px solid #ffffff; /* Estilo del borde */
    margin: 70px 0; /* Márgenes superior e inferior */
}